<!DOCTYPE html>
<html>
    <head>
        <title>Input</title>
    </head>
    <body>
        <h1>Enter a phrase along with a word you want to search for in that phrase (Inception-like). This program will tell you how many full-word matches it finds.</h1>

        <form action="/results" method="post">
            <label for="word">Input word</label>
            <input type="text" name="word">

            <label for="phrase">Input phrase</label>
            <input type="text" name="phrase">

            <button type="submit">Submit</button>
        </form>

    </body>
</html>
