<!DOCTYPE html>
<html>
    <head>
        <title>Results</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Word Searcher</h1>
            <h3>Here are your results!</h3>
            <p>Number of occurrences of your word in your phrase: {{ result }}</p>
        </div>

    </body>
</html>
