<!DOCTYPE html>
<html>
    <head>
        <title>Results</title>
    </head>
    <body>
        <h1>Here are your results!</h1>
        <p>Number of occurrences of your word in your phrase: {{ result }}</p>

    </body>
</html>
